{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load url from future %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<div class="row">
		<form id="code-form" method="POST" action="{{ request.path }}">
			{% csrf_token %}
			<div class="col-md-12" style="padding-left: 0px; padding-right: 0px">
				<div class="form-group col-md-12">
					<label>Code name</label>
					<input type="text" class="form-control" name="code_name" placeholder="Code name...">
				</div>
				<div class="form-group col-md-12">
					<label>Point</label>
					<input type="text" class="form-control" name="point" placeholder="Point...">
				</div>
				<div class="form-group col-md-12">
					<label>Duration by days</label>
					<input type="text" class="form-control" name="duration" placeholder="Duration by days...">
				</div>
				<div class="form-group col-md-6">
					<label>Member</label>
					<input id="search_member" type="text" placeholder="Member" class="nav-search-input form-control" name="search_member" autocomplete="off" data-provide="typeahead" data-items="10">
					<input type="hidden" name="member_id">
					<div id="member_selected" class="col-md-12" style="padding: 0px"></div>
				</div>
				<div class="form-group col-md-6">
					<label>Questions</label>
					<input id="search_question" type="text" placeholder="Question" class="nav-search-input form-control" name="search_question" autocomplete="off" data-provide="typeahead" data-items="10">
					<div id="question_selected" class="col-md-12" style="padding: 0px"></div>
				</div>
				<div class="form-group col-md-12">
					<a class="btn btn-primary pull-right" id="submit"><i class="glyphicon glyphicon-arrow-up"></i> Submit</a>
					<a href="{% url 'list_code' %}" style="margin-right: 5px" type="button" class="btn btn-default pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back to list</a>
					<span id="loading_edit" style="display: none; margin-right: 10px" class="pull-right">
						<img width="30px" style="margin-top: -2px; margin-top: 2px" src="{% static 'bootstrap/img/loading.gif' %}">
					</span>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block extra_script %}
	<script src="{% static "bootstrap/js/bootstrap3-typeahead.js" %}"></script>
	<script>
		var members = [], questions = [];

		{% for m in members %}
			members.push({id: "{{ m.id }}", name: "{{ m.value.name }}"});
		{% endfor %}

		{% for m in questions %}
			questions.push({id: "{{ m.id }}", name: "{{ m.value.content }}"});
		{% endfor %}

		$('#search_question').typeahead({
			source: questions,
			updater: function(item){
				if ($("#detail_question_selected_"+item.id).length <= 0){
					$(_createQuestionDetail(item)).appendTo($("#question_selected"));
					fixPositionFooter();
				}
				return "";
			}
		});
		$('#search_member').typeahead({
			source:  members,
			updater: function(item){
				if ($("#detail_member_selected_"+item.id).length <= 0){
					$(_createMemberDetail(item)).appendTo($("#member_selected"));
					fixPositionFooter();
				}
				return "";
			}
		});

		function _createQuestionDetail(item) {
			var html = ""
			html += '<span id="detail_question_selected_'+item.id+'" class="detail_question_selected col-md-12" style="margin-top:10px; padding: 0px">';
			html += '<span><strong>Question:</strong> '+item.name+'</span> <a id="remove_question_'+item.id+'" class="remove-question" type="button" href="#" title="Remove"><i class="glyphicon glyphicon-trash"></i></a>'
			html += '<input type="hidden" name="question_select" class="form-control question_select" value="'+item.id+'">';
			html += '</span>';
			return html;
		}

		function _createMemberDetail(item) {
			var html = ""
			html += '<span id="detail_member_selected_'+item.id+'" class="detail_member_selected col-md-12" style="margin-top:10px; padding: 0px">';
			html += '<span><strong>Member:</strong> '+item.name+'</span> <a id="remove_member_'+item.id+'" class="remove-member" type="button" href="#" title="Remove"><i class="glyphicon glyphicon-trash"></i></a>'
			html += '<input type="hidden" name="member_select" class="form-control member_select" value="'+item.id+'">';
			html += '</span>';
			return html;
		}

		$("body").on("click", ".remove-question", function(){
			var questionId = ($(this).attr("id")).split("_")[2];
			$("#detail_question_selected_"+questionId).fadeOut(function () {
				$("#detail_question_selected_"+questionId).remove();
				fixPositionFooter();
			});
			return false;
		});

		$("body").on("click", ".remove-member", function(){
			var memberId = ($(this).attr("id")).split("_")[2];
			$("#detail_member_selected_"+memberId).fadeOut(function () {
				$("#detail_member_selected_"+memberId).remove();
				fixPositionFooter();
			});
			return false;
		});

		$("#submit").click(function(){
			if (!$("input[name='code_name']").val()) {
				alert("You must input code name");
				return;
			}

			if (!$("input[name='point']").val()) {
				alert("You must input point");
				return;
			}

			if (isNaN($("input[name='point']").val())){
				alert("The point must be integer");
				return false;
			}

			if (!$("input[name='duration']").val()) {
				alert("You must input duration");
				return;
			}

			if (isNaN($("input[name='duration']").val())){
				alert("The duration must be integer");
			}

			if ($(".detail_member_selected").length == 0) {
				alert("You must select member");
				return;
			}

			if ($(".detail_question_selected").length == 0) {
				alert("You must select question");
				return;
			}

			$("#loading_edit").show();
			$("#submit").addClass("disabled");
			$("#code-form").submit();
		});
	</script>
{% endblock %}
