{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load url from future %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<div class="row">
		<form id="code-form">
			{% csrf_token %}
			<input type="hidden" name="code_id" value="{{ doc_code.id }}">
			<div class="col-md-12" style="padding-left: 0px; padding-right: 0px">
				<div class="form-group col-md-12">
					<label>Code name</label>
					<input disabled type="text" class="form-control" name="code_name" placeholder="Code name..." value="{{ doc_code.name }}">
				</div>
				<div class="form-group col-md-12">
					<label>Point</label>
					<input disabled type="text" class="form-control" name="point" placeholder="Point..."  value="{{ doc_code.point }}">
				</div>
				<div class="form-group col-md-12">
					<label>Duration by days</label>
					<input disabled type="text" class="form-control" name="duration" placeholder="Duration by days..."  value="{{ doc_code.time }}">
				</div>
				<div class="form-group col-md-6">
					<label>Member</label>
					<input disabled type="text" class="form-control" placeholder="Member..."  value="{{ doc_member.name }}">
				</div>
				<div class="form-group col-md-6">
					<label>Questions</label>
					<input disabled type="text" class="form-control" placeholder="Question..."  value="">
					<div id="question_selected" class="col-md-12" style="padding: 0px">
						{% for c in doc_code.question_id %}
							{% for q in questions %}
								{% if c == q.id %}
									<span id="detail_question_selected_{{ q.id }}" class="detail_question_selected col-md-12" style="margin-top:10px; padding: 0px">
										<span><strong>Question:</strong> {{ q.value.content }}</span>
										<input type="hidden" name="question_select" class="form-control question_select" value="{{ q.id }}">
									</span>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				</div>
				<div class="form-group col-md-12">
					<button id="delete_code" style="margin-right: 5px" type="button" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i> Delete</button>
					<a href="{% url 'list_code' %}" style="margin-right: 5px" type="button" class="btn btn-default pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back to list</a>
					<span id="loading_edit" style="display: none; margin-right: 10px" class="pull-right">
						<img width="30px" style="margin-top: -2px; margin-top: 2px" src="{% static 'bootstrap/img/loading.gif' %}">
					</span>
					<a class="btn btn-primary pull-left" href="{% url 'add_code' %}"><i class="glyphicon glyphicon-plus-sign"></i> Create Private code</a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block extra_script %}
	<script>
		$("#delete_code").click(function(){
			if (confirm("Do you want to remove this code?")) {
				var codeId = $("input[name='code_id']").val();
				$("#submit").addClass("disabled");
				$("#delete_code").addClass("disabled");
				$("#loading_edit").show();
				$.ajax({
					url: "/remove_code",
					type: "POST",
					data: {
						"codeId": codeId
					},
					success: function (data) {
						window.location.href = "/list_code";
					},
					error: function(error) {
						alert("Can not remove. Please try again");
						$("#submit").removeClass("disabled");
						$("#delete_code").removeClass("disabled");
						$("#loading_edit").hide();
					}
				});
			}
			return false;
		})
	</script>
{% endblock %}
