{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load url from future %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<div class="row">
		<form class="category-form" method="POST" action="{{ request.path }}">
			{% csrf_token %}
			<input name="category_id" value="{{ category_id }}" type="hidden">
			<div class="col-md-12" style="padding-left: 0px; padding-right: 0px">
				<div class="form-group col-md-12">
					<label>Category name</label>
					<input type="text" class="form-control" name="category_name" placeholder="Category name..." value="{{ form.category_name.value }}">
				</div>
				<div class="form-group col-md-12">
					<button id="edit_category" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-arrow-up"></i> Update</button>
					<button id="delete_category" style="margin-right: 5px" type="button" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i> Delete</button>
					<span id="loading_edit" style="display: none; margin-right: 10px" class="pull-right">
						<img width="30px" style="margin-top: -2px; margin-top: 2px" src="{% static 'bootstrap/img/loading.gif' %}">
					</span>
					<a href="{% url 'list_category' %}" style="margin-right: 5px" type="button" class="btn btn-default pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back to list</a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block extra_script %}
	<script>
		$("#edit_category").click(function(){
			$("#loading_edit").show();
			$("#edit_category").addClass("disabled");
			$("#delete_category").addClass("disabled");
			$(".category-form").submit();
		});

		$("#delete_category").click(function(){
			if (confirm("Do you want to remove this category?")) {
				var categoryId = $("input[name='category_id']").val();
				$("#loading_edit").show();
				$("#edit_category").addClass("disabled");
				$("#delete_category").addClass("disabled");
				$.ajax({
					url: "/remove_category",
					type: "POST",
					data: {
						"categoryId": categoryId
					},
					success: function (data) {
						window.location.href = "/list_category";
					},
					error: function(error) {
						alert("Can not remove. Please try again");
						$("#loading_edit").hide();
						$("#edit_category").removeClass("disabled");
						$("#delete_category").removeClass("disabled");
					}
				});
			}
			return false;
		});
	</script>
{% endblock %}
