{% load staticfiles %}
{% load url from future %}

<div class="footer" style="background: #363636;color: #e3e3e3; padding: 25px 0 25px">
	<div class="container">
		<div class="row">
			<div class="spacer10"></div>
			<div class="row">
				<div class="col-md-12">
					<center>
						<div class="col-xs-12 social" style="text-align: center ;background: #363636;">
							<a href="http://www.facebook.com/diemcao.vn"><i class="fa fa-2x fa-facebook"></i></a>
							<a href="http://www.facebook.com/diemcao.vn" rel="publisher"><i class="fa fa-2x fa-google-plus"></i></a>
							<div class="col-md-12 social f_logo_mb" style="text-align: center; background: #363636; margin-bottom: 10px">
								<div>Power by <a href="http://edunetjsc.vn/" style="color: #e3e3e3;">EdunetJSC</a></div>
							</div>
						</div>
						<div class="col-xs-12 social" style="text-align: center ;background: #363636;">
							<center>
								<table>
									<tbody>
										<tr>
											<td style="color: #fff;">
												<i class="fa fa-phone-square"></i> &nbsp; Mr.Vuong &nbsp;
											</td>
											<td style="color: #fff;">
												+84 090 864 9316
											</td>
											<td>
												<script src="{% static 'bootstrap/js/skype-uri.js' %}"></script>
												<div id="SkypeButton_Call_gialangbp" style="height: 32px;margin-top: -15px;">
													<script type="text/javascript">
														Skype.ui({
															"name": "chat",
															"element": "SkypeButton_Call_gialangbp",
															"participants": ["gialangbp"],
															"imageSize": 18
														});
													</script>
												</div>
											</td>
										</tr>
										<tr>
											<td style="color: #fff;">
												<i class="fa fa-phone-square"></i> &nbsp; Mr.Duy &nbsp;
											</td>
											<td style="color: #fff;">
												+84 093 774 5509
											</td>
											<td>
												<div id="SkypeButton_Call_khanhduy.tran.201" style="height: 32px;margin-top: -15px;">
													<script type="text/javascript">
														Skype.ui({
															"name": "chat",
															"element": "SkypeButton_Call_khanhduy.tran.201",
															"participants": ["khanhduy.tran.201"],
															"imageSize": 18
														});
													</script>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</center>
						</div>
					</center>
				</div>
			</div>
			<div class="spacer10"></div>
			<div class="row">
			</div>
		</div>
	</div>
</div>