{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load url from future %}

{% block head_title %}pinax-project-zero{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-primary" href="{% url 'add_answer_question' %}"><i class="glyphicon glyphicon-plus-sign"></i> Create question</a>
			<a class="btn btn-default" href="{{ request.path }}"><i class="glyphicon glyphicon-refresh"></i> Refesh</a>
			{% if object_list %}
				<div class="table-responsive" style="margin-top: 10px">
					<table class="table table-bordered" style="margin-bottom: 0px">
						<thead>
							<tr>
								<th>Question</th>
								<th>Category</th>
								<th>Type answer</th>
								<th style="text-align: center">Modify</th>
							</tr>
						</thead>
						<tbody>
							{% for q in object_list %}
								<tr id="row_question_{{ q.id }}">
									<td>{{ q.value.content }}</td>
									<td>{{ q.value.category }}</td>
									<td>
										{% if q.value.type == "01" %}
											Radio
										{% elif q.value.type == "02" %}
											Check
										{% elif q.value.type == "03" %}
											Seek
										{% endif %}
									</td>
									<td style="text-align: center" class="col-md-1 col-sm-2">
										<a id="edit_question_{{ q.id }}" class="edit-question" type="button" class="" href="/edit_answer_question/{{ q.id }}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
										<a id="remove_question_{{ q.id }}" class="remove-question" type="button" class="" href="#" title="Remove"><i class="glyphicon glyphicon-trash"></i></a>
										<span id="loading_question_{{ q.id }}" style="display: none">
											<img width="16px" style="margin-top: -2px" src="{% static 'bootstrap/img/loading.gif' %}">
										</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if is_paginated %}
						<div class="pagination pull-right">
							<span class="page-links">
								{% if page_obj.has_previous %}
									<a href="?page={{ page_obj.previous_page_number }}">previous</a>
								{% endif %}
								<span class="page-current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>
								{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}">next</a>
								{% endif %}
							</span>
						</div>
					{% endif %}
				</div>
			{% else %}
				<div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 10px">
					There are not any question in list
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block extra_script %}
	<script>
		$(".remove-question").click(function(){
			if (confirm("Do you want to remove this question?")) {
				var questionId = ($(this).attr("id")).split("_")[2];
				$("#edit_question_" + questionId).hide();
				$("#remove_question_" + questionId).hide();
				$("#loading_question_" + questionId).show();
				$.ajax({
					url: "remove_answer_question",
					type: "POST",
					data: {
						"questionId": questionId,
					},
					success: function (data) {
						$("#row_question_"+questionId).fadeOut(function() {
							$("#row_question_"+questionId).remove();
						});
						fixPositionFooter();
					},
					error: function(error) {
						alert("Can not remove. Please try again");
						$("#edit_question_" + questionId).show()
						$("#remove_question_" + questionId).show();
						$("#loading_question_" + questionId).hide();
					}
				});
			}
			return false;
		});
	</script>
{% endblock %}
